<div class="text-light">
    <h1>BIO TRANAN</h1>
</div>
<nav class="flex-column">
    <div class=" nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-calendar" aria-hidden="true"></span> Schema
        </NavLink>
    </div>
</nav>
<nav class="flex-column">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/movielist" Match="NavLinkMatch.All">
            <span class="oi oi-list" aria-hidden="true"></span> Alla Filmer
        </NavLink>
    </div>
</nav>
<nav class="flex-column">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/review" Match="NavLinkMatch.All">
            <span class="oi oi-pencil" aria-hidden="true"></span> Recensera Film
        </NavLink>
    </div>
</nav>
<nav class="flex-column" style="position: absolute; right:0;">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/cancelreservation" Match="NavLinkMatch.All">
            <span class="oi oi-circle-x" aria-hidden="true"></span> Avboka
        </NavLink>
    </div>
</nav>

@code {
}
